# Ignore everything
**

# Allow only files in hw/src
!hw/
!hw/src/
!hw/src/**

# Allow only files in Zybo-Z7-10-HDMI/src
!Zybo-Z7-10-HDMI/
!Zybo-Z7-10-HDMI/src/
!Zybo-Z7-10-HDMI/src/**

!sdk

# Keep .gitignore itself
!.gitignore
